<!-- Header -->
<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Give books away, Get books you want</h1>
				<p class="tagline">Book Exchange : The place where you can trade in your old books  <a href="https://github.com/bdridi">bdridi</a></p>
				<p><a class="btn btn-info btn-lg" role="button" routerLink="/login"> LOGIN YOUR ACCOUNT</a> <a class="btn btn-action btn-lg" role="button" routerLink="/register">REGISTER NOW</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->
