<footer class="footer fixed-bottom">

<div class="footer2">
  <div class="container">
    <div class="row">

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p class="simplenav">
            <a href="#" routerLink="home">Home</a> |
            <a href="about.html" routerLink="about">About</a> |
            <a href="contact.html" routerLink="contact">Contact</a> |
            <b><a href="signup.html" routerLink="register">Sign up</a></b>
          </p>
        </div>
      </div>

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p class="text-right">
            Copyright &copy; 2017, Bilel Dridi. Designed by <a href="https://github.com/bdridi" rel="designer">bdridi</a>
          </p>
        </div>
      </div>

    </div> <!-- /row of widgets -->
  </div>
</div>
</footer>
