<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="#" routerLink="home">Home</a></li>
			<li class="active">My Books</li>
    </ol>
    {{ successMessage }}

    <div class="alert alert-warning" *ngIf="offers?.length == 0">
      <strong>Sorry !</strong> You haven't any book yet.
      <a href="" routerLink="suggest" >Trade your old books</a>

    </div>

    <div class="row" *ngIf="offers?.length > 0">
      <div class="panel panel-default">
        <table class="table table-striped">
          <tr>
            <td> Author </td>
            <td> Title </td>
            <td></td>

          </tr>
          <tr *ngFor="let offer of offers">
              <td>{{offer?.book.author}}</td>
              <td><a href="#" [routerLink]="['/bookDetails']" [queryParams]="{ id : offer?.book.id }" >{{offer?.book.title}}</a></td>

          </tr>
        </table>

       <!--  Pagination  -->
        <nav aria-label="">
          <ul class="pagination">
            <li [ngClass]="{'disabled' : pageInformations?.number == 0}"><a class="btn" (click)="fetchoffers(pageInformations?.number - 1)" aria-label="Previous"><span aria-hidden="true">Previous</span></a></li>

            <li [ngClass]="{'active' : pageInformations?.number == pageIndex}" *ngFor="let pageIndex of pagesArray" ><a class="btn" (click)="fetchoffers(pageIndex)">{{ pageIndex }} <span class="sr-only">(current)</span></a></li>

            <li [ngClass]="{'disabled' : pageInformations?.number == pageInformations?.totalPages - 1}"><a class="btn" (click)="fetchoffers(pageInformations?.number + 1)" aria-label="next"><span aria-hidden="true">Next</span></a></li>

          </ul>
        </nav>


        </div>
    </div>
  </div>


